<div class="container">
    <h1 class="text-center">Todo list by Hassam</h1>
    <app-add-todo (todoAdd)="AddTodo($event)"></app-add-todo>
    <h4>Your Todos</h4>
    <div *ngIf="todos.length; else elseBlock"><ul>
        <li *ngFor="let todo of todos">
            <app-todo-item [todo]="todo" (todoDelete)="deleteTodo($event)" (todoCheckbox)="toggleTodo($event)"></app-todo-item>
        </li>
    </ul>   </div>
    <ng-template #elseBlock>
        <p>No Todos to display</p>
    </ng-template>  
</div> 




