<div class="my-3">

    <h5 [ngClass]="{'strike': !todo.active}">{{todo.title}}</h5>
    <p [ngClass]="{'strike': !todo.active}" class="m-0 p-0">{{todo.desc}}</p>
    <div class="form-check mb-4">
        <input  type="checkbox" class="form-check-input" id="exampleCheck1" (click)="onChechkBoxClick(todo)"  [checked]="!todo.active" >
        <label class="form-check-label" for="exampleCheck1">Toggle Done</label>
      </div>
    <button class="btn btn-sm btn-danger mb-4" (click)="onClick(todo)">Delete</button>
</div>

